 
 <app-menu>
 </app-menu>

   <div class="bg-success p-2 text-dark bg-opacity-50 ">
    <a routerLink="create" class="link-success">Add New Book</a> &nbsp; &nbsp;
    <a routerLink="read" class="link-success">Book List </a> 
     
   </div>

   
 
 

<!-- <!--  <div class="container mt-5">

  <a routerLink="create" class="btn btn-success">Add New Book</a>
 &nbsp;
  <a routerLink="read" class="btn btn-primary">List of books</a> 
</div> -->

<!-- 
<div class="container" style="height:60px;">
  <div class="row">
      <div class="offset-sm-2 col-sm-8">
          <div class="card text-blank border-0">
              <div class="card-body">
                  
                  <div class="card-title">
                      <div class="row mt-3">
                          <div class="form-group offset-sm-2  col-sm-3">
                              <a routerLink="create" class="link-success">Add New Book</a>
                          </div>
                          <div class="form-group col-sm-3">
                               <a routerLink="read" class="link-success">Book List </a> 
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div> -->
  <router-outlet></router-outlet>

 